.heart.outline.like.icon:acitve {
    background-color: blue;
    font-size: 212px;
}

.image {
    height: 650px;
}

img {
    height: 100% !important;
}

.ui.centered.card {
    box-shadow: 5px 4px 7px 2px #b8b8bf, 0 0 0 1px #d4d4d5 !important;
}