body {
    height: 100% !important;
}

.column {
    background-color: #ffefef;
    border: 1px solid #cbc8c6;
}

.page {
    display: flex;
    width: 100%;
    padding-bottom: 5rem;
    height: fit-content !important;
    background: none;
}

.ui.grid {
    width: 100%;
    gap: 10px;
    margin: 0 !important;
    margin-left: 5rem !important;
}

.ui.grid > * {
    border-radius: 12px;
}

.ui.card {
    margin-bottom: 0 !important;
    min-height: 460px !important;
    height: fit-content !important;
}

.container {
    width: 100%;
    background-color: #a18282;
    border-radius: 12px;
    padding: 4.5rem;
    box-shadow: 5px 5px 14px 1px #937d7d;
}

.inner {
    display: flex;
    width: 100%;
}

.page-container {
    height: 100%;
    background: repeating-linear-gradient( 45deg, #eef1f1 0px, #dee0e0 20px, #f6f7f8 20px, #d7dce1 40px );
}

.info-container {
    display: flex;
    flex-direction: column;
}

.info-container .child {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.info-container .child .ui.orange.label {
    width: 100%;
    text-align: center;
    background-color: #976d52 !important;
}

.egg {
    background-color: #976d52 !important;
}

.ui.cards.friends > .card {
    width: 200px !important;
}

.ui.cards.friends > .card .image {
    padding: 1rem;
    background-color: #ffffff;
}

.personality {
    display: flex;
    justify-content: space-between;
    width: 100%;
}